{% extends "base.html" %}

{% block body %}

<table><tr><td>
    <h2><a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h2>
    </td><td><div style="width: 30px"></div></td><td style="font-size: 83%">
    currently
    {% if current_user.enabled %}
      enabled (<a class="light" href="?setenabled=0">disable</a>)
    {% else %}
      disabled (<a class="light" href="?setenabled=1">enable</a>)
    {% endif %}
    <form action="/" method="get">
    
    my tags <input name="tags" type="text" value="{{ current_user.tags|join:"," }}"/></form>
    
    </td></tr></table>
    <br/>
    <!-- FIX ME BEGIN -->
    <h4>스니펫 사용</h4>
    스니펫을 일요일까지 보내주세요: <b>snippets@minisnippets.appspotmail.com </b>    
    <br/><br/>  
    리마인더 메일은 금요일 오후 5시, 다이제스트 메일은 월요일 오전 9시에 발송됩니다.
    <br/><br/>
    스니펫 작성 날짜에 따른 입력 기준
    <ul>
        <li>월요일에 작성 => 해당주 입력됨</li>
        <li>화~일요일에 작성 => 다음주 입력됨</li>
    </ul>
    스니펫 메일을 다시 보내면 수정할 수 있습니다.
    <br/><br/>  
    서명 문자(== 또는 --) 이후는 trim 되어 입력됩니다.
    <br/><br/>
    <h4>스니펫 기본 설정</h4>
    <ol>
        <li>자신의 태그란에 팀명을 넣어주세요.</li>
        <li>이메일이나 태그를 follow 해주세요. 다이제스트 메일로 발송됩니다.</li>
    </ol>
    <!-- FIX ME END -->
    <br/><br/>        
    <table cellspacing=20>
      <tr>
        <td valign="top">
			    <h3>Users</h3>
			    {% for user in all_users %}
			      <a href="/user/{{ user.0.email }}">{{ user.0.pretty_name }}</a>
			      {% if user.1 %}
			        ✓ <a class="light" href="/unfollow?user={{ user.0.email }}&continue=/">unfollow</a>
			      {% else %}
			        <a class="light" href="/follow?user={{ user.0.email }}&continue=/">follow</a>
			      {% endif %}      
			      <br/>
			    {% endfor %}
		     </td>
				 <td valign="top">        
  			   <h3>Tags</h3>
	 		     {% for tag in all_tags %}
			       <a href="/tag/{{ tag.0 }}">{{ tag.0 }}</a>
			       {% if tag.1 %}
			         ✓ <a class="light" href="/unfollow?tag={{ tag.0 }}&continue=/">unfollow</a>
			       {% else %}
			         <a class="light" href="/follow?tag={{ tag.0 }}&continue=/">follow</a>
		        {% endif %}
		        <br/>
		      {% endfor %}      
		      </td>
		    </tr>
		  </table>


{% endblock %}
